// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";


atom-text-editor::shadow .css.property-name.type {
  position: relative;
  padding-left: 10px;
}
atom-text-editor::shadow .csstrigger {
  position: absolute;
  left: -5px;
  top: 0;
  width: 10px;
  height: 15px;
}

atom-text-editor::shadow .csstrigger:before,
atom-text-editor::shadow .csstrigger:after {
  content: "";
}

atom-text-editor::shadow .csstrigger:before,
atom-text-editor::shadow .csstrigger span,
atom-text-editor::shadow .csstrigger:after {
  display: block;
  margin-bottom: 2px;
  width: 10px;
  height: 3px;
  border-radius: 2px;
}

atom-text-editor::shadow .csstrigger.csstrigger-layout:before { background-color: #9089e4; }
atom-text-editor::shadow .csstrigger.csstrigger-paint span { background-color: #90aa65; }
atom-text-editor::shadow .csstrigger.csstrigger-composite:after { background-color: #455f15; }
